html {
  font-family: "Roboto", sans-serif;
}

header {
  display: flex;
  color: #f9faf8;
  font-size: 24px;
  background-color: #1f2937;
  padding-left: 50px;
  padding-right: 50px;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}
.logo {
  font-size: 24px;
  font-weight: bold;
  display: flex;
  margin-top: 15px;
}
ul {
  list-style-type: none;
  display: flex;
  flex: 1 1 auto;
  margin-top: auto;
  gap: 30px;
}
a {
  text-decoration: none;
  color: #e5e7eb;
  font-size: 18px;
}
.right-links {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  flex: 1 1 auto;
  align-items: flex-end;
}

.hero {
  background-color: #1f2937;
  color: #e5e7eb;
  display: flex;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  align-items: center;
}

.awesome {
  font-size: 48px;
  font-weight: bolder;
  color: #f9faf8;
  display: flex;
  flex-direction: column;
  flex: 1 1 50%;
  margin: 50px;
}
.subtext {
  display: flex;
  width: 800px;
  font-size: 18px;
  color: #e5e7eb;
}
button {
  background-color: #3882f6;
  color: #e5e7eb;
  border-radius: 5px;
  box-shadow: none;
  justify-content: center;
  width: 80px;
  cursor: pointer;
}
button:hover {
  background-color: #0ccac0;
}
.placeholder {
  display: flex;
  flex: 0 0 auto;
  height: auto;
  width: 250px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px;
  margin-right: 150px;
  background-color: #9d9eb1;
  border-radius: 15px;
}
.sub-button {
  display: flex;
  border: none;
  align-items: center;
}

.info {
  text-align: center;
  font-size: 36px;
  font-weight: bolder;
  color: #1f2937;
  margin: 45px;
}
.cards {
  display: flex;
  text-align: center;
  justify-content: center;
  padding-left: 100px;
  padding-right: 100px;
  margin-top: 45px;
  margin-bottom: 75px;
  gap: 15px;
}
.one,
.two,
.three {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 0;
  margin: 10px;
}
.cards img {
  display: flex;
  border: 3px solid #3882f6;
  height: 300px;
  width: 300px;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
}

.quote {
  display: flex;
  flex-direction: column;
  padding: 150px;
  background-color: #e5e7eb;
  font-size: 36px;
  text-align: center;
}
.author {
  text-align: end;
  font-weight: bolder;
  font-style: normal;
  font-size: 16px;
}

.action {
  margin: 100px;
  background-color: #3882f6;
  border-radius: 5px;
  padding: 40px;
  color: #e5e7eb;
  display: flex;
  align-items: center;
  justify-content: center;
}
.call {
  font-size: large;
  font-weight: bold;
}
.sign {
  display: flex;
  margin-left: 90px;
  border: white;
  border-style: solid;
  height: 30px;
  width: auto;
  border-width: 1px;
  align-items: center;
}

footer {
  background-color: #1f2937;
  color: #f9faf8;
  text-align: center;
  padding: 25px;
  font-size: 10px;